@font-face {
	font-family: 'iconLogin';
	src:url('/css/icomoon.eot?-2n8uof');
	src:url('/css/icomoon.eot?#iefix-2n8uof') format('embedded-opentype'),
		url('/css/icomoon.woff?-2n8uof') format('woff'),
		url('/css/icomoon.ttf?-2n8uof') format('truetype'),
		url('/css/icomoon.svg?-2n8uof#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body.login
	border-right 6px plomoTexto solid

	&:after
		border-bottom 100px transparent solid
		border-left 100px azul solid
		content ""
		left 5px
		position absolute
		top 5px
		z-index 5

	&:before
		border-bottom 90px transparent solid
		border-left 90px negro solid
		content ""
		left 0
		position absolute
		top 0
		z-index 6

@media screen and (min-width:700px)
	body.login
		&:after
			border-bottom 160px transparent solid
			border-left 160px azul solid

		&:before
			border-bottom 140px transparent solid
			border-left 140px negro solid
			
@media screen and (min-width:1000px)
	body.login
		&:after
			border-bottom 180px transparent solid
			border-left 180px azul solid

		&:before
			border-bottom 160px transparent solid
			border-left 160px negro solid

section.login-side
	align-items center
	display flex
	height 100vh
	min-height 600px
	position relative

.login-side__body
	flex 1
	margin-left auto
	margin-right auto
	position relative
	max-width 350px

.login-side--logo
	position absolute
	right 1em
	top 1em
	height 50px
	z-index 7

.login-side__body__logo
	text-align center
	padding 2em
	position relative
	
	figure
		background white
		display inline-block
		border-radius 50%
		border 1px plomoTexto solid
		position relative
		z-index 5

	img
		height 90px
		margin 1.8em 1.4em

	&:before
		background plomoTexto
		content ""
		width 50%
		height 2px
		top 50%
		position absolute
		right 0

@media screen and (min-width:350px)
	.login-side__body__logo
		&:before
			background white

.login-side__body__welcome
	text-align center
	
	p:nth-of-type(1)
		color azul
		margin-bottom .3em
		
	p:nth-of-type(2)
		color plomoTexto
		font-size .9em
		
.login-side__body__form-side
	padding 1em
	margin-top 2em

	select
	input
		margin-bottom 1.5em

	input[type="submit"]
		width 100%

	ul.errors
		position absolute
		top 100%
		text-align center
		width 100%

		li
			list-style-type none
			display block
			color rojoTexto
			font-size .8em

	.form-side__error
		position absolute
		width 100%
		left 0
		bottom 4em
		color rojoTexto
		font-size .9em
		text-align center

.login-side__recovery-password
	text-align right
	padding 1em



// icons
span.icon-user
	&:after
		content "\e602"
		font-family "iconLogin"
		font-size 1.4em

span.icon-key
	&:after
		content "\e604"
		font-family "iconLogin"
		font-size 1.4em

span.icon-role
	&:after
		content "\e600"
		font-family "iconLogin"
		font-size 1.4em
