div.main_data

	&>header
		border-bottom 1px plomoHr solid
		height 70px
		position relative
		width 100%

		p
			color plomoTexto
			padding-top 1.5em
			padding-left 1em
			width 100%

	&>header.f_e
		
		p
			width 20%
		
		div
			left 20%
			height 100%
			position absolute
			padding 1em
			padding-right 0
			top 0
			width 40%
			
			& ~ .selectSide
				left 60%

		div:nth-of-type(2)
			left 60%

	&>header.director
		height 43px
		
		p
			padding 1em
			padding-top .8em
			width 40%