div.main_search

	ul
		margin-bottom 4em

		li
			width 25%

	div.data_search
		margin-bottom 4em
		
		&>p
			color plomoTexto
			text-align center
			border-bottom 1px plomoOscuro solid
			margin-bottom 1em
