	.slider{
		height: 400px;
		overflow: hidden;
	}

	.slide{
		display: none;
		height: 100%;
		position: relative;
		width:100%;
	}

	.slide_active{
		display: block;
	}

	#slide_1{
		background-image: url('/img/dashboard/fechas_matriculas.png');
	}

	#slide_2{
		background-image: url('/img/dashboard/estudiantes.jpg');
	}

	#slide_3{
		background-image: url('/img/dashboard/img3.jpeg');
	}

	.left{
	}

	.left_cont{
		background-size: 100%;
		height: 100%;
		position: absolute;
		width: 100%;
	}

	#left_img_1{
		background-color: rgba(30, 86, 255, 1);
	}

	#left_img_2{
		background-color: rgba(189, 0, 13, 1);
	}

	#left_data_1{
		background-color: rgba(0, 0, 0, 0.6);
		position: relative;
		top: 40%;
	}

	#left_data_2{
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 30%;
	}

	.transparent{
		background-color: rgba(0, 0, 0, 0.6);
		height: 200px;
		position: relative;
		top: 50%;
	}
	.text{
		color: white;
	}

	#infoContainer{
		height: 200px;
	}

	.text-btn{
		color: #B8B8B8;
	}