@import 'base/variables.styl'
@import 'nib'

//Base
@import 'base/messages.styl'
@import 'base/modals.styl'
@import 'base/animations.styl'

//Components
@import 'components/main_headers.styl'
@import 'components/main_data.styl'
@import 'components/admin_curriculum.styl'