@import 'base/variables.styl'
@import 'nib'

//Base
@import 'base/layout.styl'
@import 'base/contents.styl'
@import 'base/paragraphs.styl'
@import 'base/articles.styl'
@import 'base/buttons.styl'
@import 'base/forms.styl'
@import 'base/messages.styl'
@import 'base/others.styl'
@import 'base/tables.styl'
@import 'base/messages.styl'
@import 'base/modals.styl'
@import 'base/animations.styl'

//Components
@import 'components/login.styl'
@import 'components/module_search.styl'
@import 'components/main_headers.styl'
@import 'components/main_data.styl'
@import 'components/preregister.styl'
@import 'components/admin_curriculum.styl'
@import 'components/avance_academico.styl'

//helpers
@import 'base/helpers.styl'

//medias
