@charset "utf-8";
/* CSS Document */

body{
	background: #2F3646;
	font-size: 16px;
}

.headerLogin{
	background: #353535;
	border-radius: 0 0 30px 30px;
	box-shadow: 1px 1px 1px 2.2px rgba(0, 0, 0, 0.2);
	color : white;
	font-size: 0.7em;
	height: 50px;
	left: 20%;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 200px;
}

.headerLogin figure .logoUniversidad{
	float: left;
	margin-left: 1.8em;
	margin-top: 0.5em;
	width: 35px;
}

.headerLogin .nombreUniversidad{
	font-weight: bold;
	position: absolute;
	margin-top: 0.9em;
	right: 22px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	text-align: center;
	top: 0;
}

.imagenFondo{
	background-image: url('/img/panoramicaUndac.jpg');
	background-size: 100% 100%;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	height: 450px;
	left: 10%;
	top: 17%;
	position: absolute;
	width: 80%;
}

.imagenFondo:before{
	border-bottom: 120px solid transparent;
	border-left: 120px solid #353535;
	content: '';
	position: absolute;
	z-index: 2;
}

.imagenFondo:after{
	left: 8px;
	top: 8px;
	border-bottom: 120px solid transparent;
	border-left: 120px solid #063F9D;
	content: '';
	position: absolute;
}

.navegacion{
	background: white;
	box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.3);
	height: 490px;
	position: absolute;
	right: 12%;
	top: 14%;
	width: 23%;
	z-index: 2;
}

.navegacion:before{
	left: 0px;
	top: 0px;
	border-bottom: 80px solid transparent;
	border-left: 80px solid #353535;
	content: '';
	position: absolute;
	z-index: 2;
}

.navegacion:after{
	left: 4px;
	top: 4px;
	border-bottom: 80px solid transparent;
	border-left: 80px solid #063F9D;
	content: '';
	position: absolute;
}

.navegacion .logoUser{
	background: white;
	border-radius: 50%;
	border : 2px solid #CECECE;
	position: absolute;
	right: 30%;
	top: 3%;
	height: 140px;
	width: 140px;
}

.navegacion .logoUser figure .logoUserMuneco{
	position: absolute;
	top: 20%;
	left: 15%;
	width: 100px;
	/*height: 50px;
	width: 50px*/;
}

.navegacion .bienvenido{
	position: relative;
	color: #353535;
	text-align: center;
	top: 35%;
}

.navegacion .botones{
	margin: 1.5em;
	position: relative;
	top: 38%;
}

.navegacion .botones form input{
	margin-top: 1em;
	box-shadow: 1px 1px 1px 1px #CFD0D1;	
}

.navegacion .botones form #rid{
	box-shadow: 1px 1px 1px 1px #CFD0D1;

}

.errors li{
   color:red;
   font-size:10px;
   list-style: none;
   margin: 0;
   float:left;
}
