azul        = #015292
negro       = #353535
negroOscuro = #202020
plomo       = #F8F8F8
plomoOscuro = #DDDDDD

.h5
	font-size 1.5em
	text-align center

.projects
	background negro
	color white
	border-left 8px solid azul
	font-size 1.1em
	padding-top 1em
	padding-left 1.2em
	position relative
	left 5%
	height 50px
	width 90%
	
	a
		border-radius 0
		font-size 1.1em
		padding 0.7em

	.proyeccionSocial
		bottom 0
		height 100%
		position absolute
		right 21%
		width 20%

	.investigacion
		bottom 0
		height 100%
		position absolute
		width 20%
		right 6px

.allData
	left 5%
	position relative
	width 90%

	.data
		border-bottom 3px solid plomoOscuro
		border-left 8px solid azul
		border-right 6px solid plomoOscuro
		display none
		padding 1em
		position absolute
		width 100%

		.project
			background plomo
			border-left 6px solid azul
			font-size 1.1em
			font-weight bold
			margin-bottom 1em
			padding-top 0.5em
			padding-left 2.5%
			position: relative
			height 40px

			.number
				background plomoOscuro
				height 100%
				color negro
				font-size 1em
				text-align center
				padding-top 0.5em
				position absolute
				left 0
				top 0
				width 2%

			.cantidad
				background negro
				border-left 6px solid negroOscuro
				color white
				height 100%
				padding-top 0.65em
				position absolute
				right 30%
				text-align center
				top 0
				width 5%

			a
				border-radius 0
				font-size 1em
				padding 0.5em
				position absolute
				top 0
				width 15%

			.btnDetalle
				height 100%
				right 15%;

			.btnRegister
				height 100%
				right 0

			.detalle
				background plomo
				border-top 4px solid plomoOscuro
				display none
				font-size 1em
				font-weight lighter
				margin-bottom 50px
				left 2%
				position absolute
				top 36px
				z-index 2
				width 63%

				.autor
					background negro
					font-size 1em
					color white 
					padding 1.5em
					padding-left 3em
					padding-right 3em					
					position relative
					left 0
					top 0
					width 52%

				.cantAlumnos
					border-left 4px solid plomoOscuro
					position absolute
					color negro
					padding 1.5em
					padding-left 5em
					top 0
					left 52%
					width 48%

				.descripcion
					background negro
					border-top 4px solid negroOscuro
					border-bottom 4px solid negroOscuro
					color white
					padding 1.5em
					position relative
					text-align justify
					width 100%
		
		.registrado
			background plomo
			position relative

			.nombreProject
				background plomo
				border-left 6px solid negro
				color negro
				font-size 1.1em
				padding 0.9em
				width 70%

			.autorProject
				background negro
				color white
				height 50px
				font-size 1.1em
				top 0
				left 70%
				padding 0.9em
				position absolute
				width 30%

			.detalleRegister
				background plomo
				border-left 6px solid negro
				position relative
				width 100%

				.descripcionRegister
					color negro
					padding 1em
					position absolute
					top 0
					width 69.8%

				.masdetalleRegister
					background negro
					color white
					padding 1em
					position relative
					left 69.8%
					top -9px
					width 30.2%
