.grafica{
	background: #f5f5f5;
	height: 50px;
	position: relative;
	right : 0;
	top : 0;
	width: 100%;
}

.grafica .openGraficaBotons{
	background: #015292;
	color: white;
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
	position: absolute;
	left: 0;
	height: 100%;
	width: 50%;
	z-index: 2;
}

.grafica .closeGraficaBotons{
	background: #015292;
	color: white;
	text-align: center;
	font-size: 25px;
	padding-top: 10px;
	position: absolute;
	left: 0;
	height: 100%;
	width: 50%;
	z-index: 3;
}

.grafica .allDataGrafica{
	background: #f5f5f5;
	position: absolute;
	top: 50px;
	left: 0;
	height: 500px;
	width: 100%;
	z-index: 3;
}

.grafica .allDataGrafica .botonsCourses{
	height: 60px;
	font-size: 18px;
	padding-top: 18px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}

.grafica .allDataGrafica .dataGraficas{
	position: absolute;
	top: 60px;
	right: 0;
	height: 100%;
	width: 50%;
}


.grafica .allDataGrafica .dataPreguntas{
	height: 100%;
	left: 0;
	padding: 13px 30px 20px 20px;
	position: absolute;
	top: 60px;
	width: 50%;
	z-index: 3;
}

.grafica .allDataGrafica .dataGraficas .graficaCourse{
	display: none;
	height: 80%;
	position: absolute;
	width: 99%;
}

.grafica .allDataGrafica .dataGraficas .graficaCourse .graficaenSi{
	/*height: 100%;
	position: relative;
	width: 100%;*/
}

.grafica .allDataGrafica .dataGraficas .activeGrafica{
	display: inline-block;
}


.grafica .graficaTitle{
	height: 100%;

	font-size: 18px;
	padding-top: 12px;
	position: absolute;
	text-align: center;
	left: 0;
	width: 50%;
}




.slider{
	background-color : #f5f5f5;
	height: 90px;
}

.slide{
	display: none;
	height: 100%;
	position: relative;
	width:100%;
}

.slideActive{
	display: block;
}

.slider .slide .title{
	background-color: #015292;
	border-right: 4px solid #24577B;
	padding: 12px 0 0 0;
	color: white;
	height: 100%;
}

.slider .slide .content{
	border-right: 4px solid #24577B;
	background-color: #f5f5f5;
	color: #443;
	font-size: 19px;
	height: 100%;
	padding: 16px 2px 5px 10px;
}


.data{
	background-color : #f5f5f5;
	border-right: 4px solid #24577B;
	color: #443;
	font-size: 19px;
	height: 350px;
	position: absolute;
	top: fixed;
	width: 100%;
	z-index: 5; 
}

.data .newImg{
	height: 100%;
	left: 0;
	position: absolute;
}

.data .allDescription{
	border-left: 2px solid #24577B;
	height: 100%;
	position: absolute;
	right: 0;
}

.avanceCursos{
	position: relative;
}

.titleAvanceCursos{
	background-color: #f5f5f5;
	border-left: 4px #015292 solid;
	height: 50px;
	overflow: hidden;
	position: relative;
}



.titleAvanceCursos .title{
	float: left;
	position: absolute;
	top: 5px;
}

.titleAvanceCursos .iconAvance{
	color: #015292;
	position: absolute;
	right: 20px;
	top: 5px;
}

.allCursos{
	border-left: 4px #015292 solid;
	border-bottom: 2px  #f5f5f5 solid;
	border-right: 2px  #f5f5f5 solid;
	display: block;
	position: relative;
}

.curso{
	background-color: #f5f5f5;
	border-right: 4px #015292 solid; 
	position: relative;
	margin-bottom: 20px;
}

.avance{
	margin-bottom: 0;
}

.curso:before{
	border-bottom: 18px solid transparent;
	border-left: 15px solid white;
	border-top: 19px solid transparent;
	content: "";
	left: 0;
	position: absolute;
	top: 0;
}



.dataSliderAvance{
	background: #f5f5f5;
	border-right: 4px #015292 solid;
	position: relative;
}
