body, html{
	background: #fff;	
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000;
}

.clear{
	clear:both;
}
.logo{
	background: #555;
	margin: 0px; 
	padding: 0px;
}
.center {
	text-align: center;
}

td.center {
	vertical-align:middle;	
	valign:middle;
}

.small{
	width:50px;
}
.verde {
background: url(../img/circulo-verde.png) no-repeat;	
}

input.error {
	color: red;
	font-size: 10px;
}



.control-info{
	color: #e0e0e0;
}

.header-top{
	background-color: #1e83cb !important;
	color: #fff;
	height: 60px;
	border-bottom: 2px solid #555;
}

.header-middle{
	background-color: #e0e0e0 !important;
	height: 50px;
	padding-top: 10px;
	border-bottom: 2px solid #1e83cb;
}

.header-center{
	color: #000;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 20px;
	
}

.panel{
	padding: 10px;	
}

.footer{
	height: 30px;
	background-color: #1e83cb !important;
	color: #fff;
	border-top: 2px solid #555;
	padding: 5px;
	text-align: center;
	position:fixed;
   	bottom:0;
	
}

.footer a{
	color: #fff;
	
}

.found {

background-image: url(../img/fondo.gif);
display: block; 
overflow: auto;
margin: 0px;
}

/* WIDGETS */
h5{
	color: white;
	padding-left:20px;
	padding-right:20px;
}
.boxbody{
    border-radius: 8px;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 30px;
    padding: 0px;
    height: 320px;
    background-color: #428bca;
    -moz-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    opacity: 0.88;
}
.boxcontent{
	background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 212, 212);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 282px;    
    overflow: auto;
	-moz-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    box-shadow: inset 0px 0px 7px rgba(0,0,0,.5),
    			0px 0px 12px white;
}
.sombras:hover{
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
	opacity: 1.0;
}
/* END - WIDGETS */



/*Basic reset*/
* {margin: 0; padding: 0;}

.control-top{
	background: #AEB7DB;/*url(../img/left.png) !important;*/
	padding: 0px;
	margin: 0px;
	min-height: 580px;
	
}

#accordian {
	background: #939AB5;
	width: 210px;
	margin : auto;
	color: #fff;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003545; 
	background: linear-gradient(#003545, #1F4E5B);
}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 12px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;