body, html{
	background: #fff;	
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000;
}

.clear{
	clear:both;
}
.logo{
	background: #555;
	margin: 0px; 
	padding: 0px;
}

input.error {
	color: red;
	font-size: 10px;
}

.control-top{
	background-color: #ccc !important;
	padding: 0px;
	margin: 0px;
	/*min-height: 580px;*/
}

.control-info{
	color: #555;
	padding: 10px;
}

.layout-right{
	color: #fff;
	
}
.list-group li{background: #979797;}
.layout-right a{
	color: #555;
	width: 110%;
	margin-left: -10px;
	text-decoration:none;
	display: block;
	
}

.layout-right a:hover,
.layout-right .activo {	
	background: url(../img/tri_07.png) no-repeat scroll 215px center #979797 !important;
	border-left: 5px solid #1E83CB !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
	color: #fff;
	font-size: 13px;
}


.header-top{
	background-color: #1e83cb !important;
	color: #fff;
	height: 60px;
	padding-top: 10px;
	border-bottom: 2px solid #555;
}

.header-middle{
	background-color: #e0e0e0 !important;
	height: 50px;
	padding-top: 10px;
	border-bottom: 2px solid #1e83cb;
}

.header-center{
	color: #000;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 20px;
	
}

.panel{
	padding: 10px;	
}

.footer{
	height: 30px;
	background-color: #1e83cb !important;
	color: #fff;
	border-top: 2px solid #555;
	padding: 5px;
	text-align: center;
	position:fixed;
   	bottom:0;
	
}

.footer a{
	color: #fff;
	
}