body, html{
	background: #fff;	
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000;
}

.clear{
	clear:both;
}
.logo{
	background: #555;
	margin: 0px; 
	padding: 0px;
	display: block;
}
.center {
	text-align: center;
}

td.center {
	vertical-align:middle;	
	valign:middle;
}

.small{
	width:50px;
}
.verde {
background: url(../img/circulo-verde.png) no-repeat;	
}

input.error {
	color: red;
	font-size: 10px;
}


.header-top{
	background-color: #1e83cb !important;
	color: #fff;
	height: 60px;
	border-bottom: 2px solid #555;
}

.header-middle{
	background-color: #e0e0e0 !important;
	height: 60px;
	padding-top: 5px;
	border-bottom: 2px solid #1e83cb;
}

.header-center{
	color: #000;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 20px;
	
}

.photoprofile{
	width: 45px;
	height: 40px;
	text-align: left;
	margin: 5px;
}

.panel{
	padding: 10px;	
}

.footer{
	height: 30px;
	background-color: #1e83cb !important;
	color: #fff;
	border-top: 2px solid #555;
	padding: 5px;
	text-align: center;
	position:fixed;
   	bottom:0;
	
}

.footer a{
	color: #fff;
	
}

.found {

background-image: url(../img/fondo.gif);
display: block; 
overflow: auto;
margin: 0px;
}

/* WIDGETS */
.titlebox{
	color: white;
	padding-left:20px;
	padding-right:20px;
}
.boxbody{
    border-radius: 8px;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 30px;
    padding: 0px;
    height: 320px;
    background-color: #428bca;
    -moz-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    opacity: 0.88;
}
.boxcontent{
	background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 212, 212);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    height: 282px;    
    overflow: auto;
	-moz-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0px 0px 7px rgba(0,0,0,.5);
    box-shadow: inset 0px 0px 7px rgba(0,0,0,.5),
    			0px 0px 12px white;
}
.sombras:hover{
	box-shadow: 0px 0px 4px rgba(0,0,0,.5);
	opacity: 1.0;
}
/* END - WIDGETS */



.control-top{
	background: url(../img/left.png) #AEB7DB ;
	padding: 0px;
	margin: 0px;	
	min-height: 600px;
	
}


/* Menu */
#slider  {
	/*background: url(../img/left.png) #AEB7DB ;*/
    background: rgb(77,77,77); /* rgb(0,153,153);Old browsers */
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.65);
    height: 100%;
    margin : auto;
    /*position: fixed;*/
   	margin-left: 10px;
    width: 200px;
    z-index: 100;
}

#slider a {
	text-decoration: none;
	color:#fff;	
}

#slider ul, #slider li{
	margin: 0px;
	padding: 0px;
  	list-style: none outside none;
}
#slider .titulo {
	display: block;
	color : #fff;
	background:  #303238;
	height: 30px;
	padding: 5px;
	padding-left: 5px;
	text-transform: uppercase;
	border-bottom: 1px solid #BEC4D8;
	font-weight:bold;
}

#slider ul.cuerpo{
		
}

#slider ul.cuerpo li a{
	background: #555;
	display: block;
	color : #fff;
	padding: 5px;
	opacity: 0.7;
	padding-left: 10px;
}

#slider ul.cuerpo li a:hover{
	display: block;
	opacity: 1;	
	background: #ccc;
	color:#555;
}


