	.alert,.panel{
		border-radius: 0px;	
	}
	.escuela{
		font-size: 20px;
		color: #00CC66;
	}
	.titu1{
		font-size: 20px;
		margin: 47px auto;
	}
	.btn1{
    	background-color: #833885;
    	color:white;
    	width: 100%;
	}
	.btn2{
    	background-color: #ff8c00;
    	color:white;
		width: 100%;
	}
	.btn3{
    	background-color: #7fba00;
    	color:white;
		width: 100%;
	}
	.div-btn{
		height: 30%;
		margin: 3px;
		display: inline-block;		
	}
	.selc{
		margin: 30px auto;
	}
	.titu2{
		font-size: 16px;
	}
	.tt{
		margin: auto auto;
	}
	div{
		border: 0.5px dotted gray;
	}
	.row1{
        background: #F14440;
        margin-bottom: 30px;
    }
    .row2{
        background: #BEA77F;
        margin-bottom: 30px;
    }
    .row3{
        background: #4C6A8D;
        margin-bottom: 30px;
        height: 100px
    }