@media screen and (min-width:1024px)

	.aux.mobile
		position absolute
		top 120px
		right 4em
		width 32%
		z-index 10
		
		.info
			border-radius 2px
			box-shadow 0 0 5px rgba(black, .2)
			text-align left

			p
				margin 0
				margin-left .5em
				width 47%
		
		.buttons
			padding .7em
			border-radius 2px
			background rgba(black, .1)
			box-shadow 0 0 5px rgba(black, .1)
			width 100%

		.buttons.one
			
			a
				margin auto
				width 50%

