@media screen and (min-width:1024px)

	body>header
		
		nav
			
			div:nth-of-type(2)
				width auto
				
				&>a
					display none

				ul
					display block
					position relative
					width auto
					margin 0
					top 0
					height 100%
					z-index 0
						
					li
						height 100%
						display inline-block

						a
							padding 1.8em 2em
							
	.content--small
		width 85%

	.aux.mobile
		position absolute
		top 120px
		right 4em
		width 32%
		z-index 10
		
		.info
			border-radius 2px
			box-shadow 0 0 5px rgba(black, .2)
			text-align left

			p
				margin 0
				margin-left .5em
				width 47%
		
		.buttons
			padding .7em
			border-radius 2px
			background rgba(black, .1)
			box-shadow 0 0 5px rgba(black, .1)
			width 100%

		.buttons.one
			
			a
				margin auto
				width 50%

	section.preregister
		
		section
			text-align center

			article.course
				border 1px plomoOscuro solid
				display table
				margin 1em auto
				text-align left
				width 95%

				p
					border-left 1px plomoOscuro solid
					padding 1em
					display table-cell
					vertical-align middle

				p:nth-of-type(1)
					font-size 1em
					float none
					padding 1em
					position relative
					text-align center
					width 3%
					
				p:nth-of-type(2)
				p:nth-of-type(3)
					border 0
					border-left 1px plomoOscuro solid
					
				p:nth-of-type(2)
					width 27%
					
				p:nth-of-type(3)
					width 25%

				p:nth-of-type(4)
				p:nth-of-type(5)
					border-bottom 0
					display table-cell
					width 8%

				p:nth-of-type(6)
					border-left 1px plomoOscuro solid

				a
					border 0
					border-left 2px verde solid
					background white
					font-size 1em
					display table-cell
					padding 1em
					text-align center
					vertical-align middle
					position relative
					width 10%

					&:before
						border-bottom 5px transparent solid
						border-left 5px verde solid
						border-right 5px transparent solid
						border-top 5px transparent solid
						content ""
						left 0
						margin-top -5px
						position absolute
						top 50%
					
			article.course.active
				background verde
				color white
				
				p
					border 0

				p:nth-of-type(2)
				p:nth-of-type(3)
				p:nth-of-type(4)
				p:nth-of-type(5)
				p:nth-of-type(6)
					border-left 1px white solid

					small
						color white
					
				a
					border-top 0
					border-left 1px white solid

		
		

