@media screen and (min-width:480px)

	.aux.mobile
		.info
			p
				margin 0 .5em

				.full
					display inline-block
					
				.abbr
					display none
					
			p.tablet
				display inline-block
	

@media screen and (min-width:700px)

	.aux.mobile
		.info
			p
				margin 0 2em

	.info--main
		padding .7em 3em
	
	.content
		.content__header--interaction
			p
				display table-cell
				width 50%

/*
				
			.interaction__content
				display table-cell
				border-collapse 1em
				width 50%
				padding .5rem*/

				
	
	// Articles
	.item
		display inline-block
		margin-left 2%
		width 47%


	.item-table
		.item-table__body
			text-align center
			
			p
				text-align left
				display inline-block
				width 40%
