@keyframes menuAnimation
	from
		opacity 0
  	to
		opacity 1

//animations para position relative
@keyframes r_s_fadeUp
	from
		opacity 0
		top 20px
	to
		opacity 1
		top 0	

@keyframes r_h_fadeDown
	from
		opacity 1
		top 0	
	to
		opacity 0
		top 20px
		