/*article*/.item
	background white
	box-shadow 0 0 1px rgba(black, .2)
	
	.item__body
		position relative
		text-align center
		
		.icon
			background plomoOscuro
			border-right 1px solid plomoOscuro
			height 100%
			left 0
			margin-left 0
			padding 0
			position absolute
			width 10%

		p
			border-bottom 1px solid plomoOscuro
			margin-bottom 0
			margin-left 10%
			padding .5em 1em
		

	.item__footer
		text-align center

		p
			padding 1em
			margin-bottom 0

.item--blue
	border-top 1px azul solid
	border-bottom 1px plomoOscuro solid

	.item__body
		border-bottom 4px azul solid
		
		p:nth-child(1)
			color azul

.item-table
	box-shadow 0 0 1px rgba(black, .2)
	background white
	margin-bottom 1em

	.item-table__header
		border-bottom 4px plomoOscuro solid
		font-weight 700
		padding .7em
		text-align center

	.item-table__body

		p
			margin-bottom 0
			padding .7em
			padding-left 2em

	.item-table__footer
		border-top 1px plomoOscuro solid
		margin-top .5em
		text-align center	

	.footer--buttons
		a
			border 0
			border-radius 0

	.footer--buttons--two
		overflow hidden
		a
			width 50%
			float left

.item-table--active
	.item-table__header 
		border-bottom 4px verdeClaro solid


