a, button
	transition all .3s ease

a.vertical_center
	display flex
	align-items center
	justify-content center

	span
		margin-bottom 7px
		margin-right 5px

a:hover, a:link, a:visited, a:active, button:hover, button:link, button:visited, button:active
	text-decoration none