.hidden
	display none
	
.inline
	display inline-block

.inline_mid
	display block
	margin auto

.text_warning
	color amarilloTexto
	
.text_center
	text-align center
	
.text_left
	text-align left
	
.text_right
	text-align right

.whit_code
	
	small
		color plomoTexto

.vertical_center, .vertical_center_button
	display flex
	align-items center
	justify-content center

.vertical_center_button
	span
		margin-bottom 7px
		margin-right 5px

.display-medium, .display-large
	display none

.margin-small
	margin 2em auto

.margin-medium
	margin 7em auto
	
.margin-large
	margin 12em auto

@media screen and (min-width:700px)
	.button-large-right
		a
			float right
			width 50%
			margin-bottom .5em
			
@media screen and (min-width:1000px)
	.button-large-right
		a
			margin-bottom 1em
			
.away-small-top
	margin-top 1em

@media screen and (min-width:1000px)
	.margin--desktop
		margin 12em 18em

	.fix-alone
		a
			width 100%
