.float-right
	float right
	
.float-left
	float left

.inline
	display inline-block

.inline_mid
	margin auto

.text_warning
	color amarilloTexto
	
.text_center
	text-align center
	
.text_left
	text-align left
	
.text_right
	text-align right

.whit_code
	
	small
		color plomoTexto

.display-tablet, .display-desktop
	display none

ul
	padding 0

ul.tabs
	margin-bottom 2em
	
	li
		display inline-block
		
		a
			background white
			border-bottom 5px plomoTexto solid
			color plomoTexto
			display block
			padding .5em 1em
			position relative
			text-align center

			&:before
				content ""
				border-bottom 13px solid transparent
				border-top 13px solid transparent
				border-left 13px solid transparent
				border-right 13px solid transparent
				left 50%
				margin-left -13px
				position absolute
				transition all .3s
				top 100%

		a:hover
			color azul
			border-bottom 5px azul solid
				
		a.active
			color azul
			border-bottom 5px azul solid

			&:before
				border-top 13px solid azul

.tabs_data
	
	.tab_data
		display none

	.tab_data.active
		animation r_s_fadeUp .3s ease
		display block

p.no_data
	color plomoTexto
	text-align center
	margin 6em

	span
		color rojoTexto

.info
	color plomoTexto
	margin-bottom 0

.info--main
	padding .7em 1em
	margin-bottom 2em

p.danger
	color negroTexto
	margin 0
	
	span
		color rojoTexto
	
.aux.mobile
	
	.info
		background rgba(black, .7)
		padding .2em
		text-align center
		
		p
			color white
			display inline-block
			margin 0
			padding .3em
			margin-left .3em

			.abbr
				border-bottom 4px white solid
				width 25px
				padding 0 .2em
				margin-right .2em
				display inline-block
				
			.full
				display none

		p.tablet
				display none
				

		p.active

			span
				color verde
			
			.full
				color verde

			.abbr
				border-bottom 2px verde solid
