.spinner--block
	display none
	margin 11em auto

.spinner--block.fadeUp
	display block
	animation .3s fadeUp ease

.spinner--block.fadeOut
	animation .3s fadeOut ease

.delete-cape
	background rgba(black, .3)
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 3

	.delete-cape__msg
		background white
		border-radius 7px
		box-shadow 0 0 10px rgba(black, .4)
		position absolute
		padding .7em
		top 14%
		width 92%
		max-width 400px
		right 4%

		p
			text-align center
		
		a
			display inline-block
			width 62%
			
		a:nth-of-type(2)
			margin-left 1%
			width 35%

@media screen and (min-width:1000px)
	.delete-cape
		.delete-cape__msg
			top 16%

.delete-cape--interactive
	display none

.delete-cape--interactive.active
	animation fadeUp .3s ease
	display block
	
.delete-cape--interactive.inactive
	animation fadeOut .3s ease

.auxiliar
	overflow hidden
	background rgba(black, .5)

.auxiliar.fixed
	position fixed
	top 0
	width 100%
	z-index 99
	
@media screen and (min-width:1000px)
	.auxiliar
		position absolute
		right 5%
		top 120px
		width 300px
		z-index 15

	.auxiliar.fixed
		position fixed
		top 0
		width 300px
		top 10px
		z-index 99
	
.helper--item
	display table
	margin-left auto
	margin-right auto
	max-width 500px
	width 100%
	
	div
		display table-cell
		
.helper--item--two
	div
		padding .5em
		display table-cell
		width 50%
		
@media screen and (min-width:1000px)
	.helper--item--two
		div
			width 100%
			display block

.helper--button
	padding .5em
	
@media screen and (min-width:1000px)
	.helper--button
		padding 1em

	
//capas
.cover
	background-color rgba(black, .5)
	position absolute
	height 100%
	width 100%
	z-index 10

	.cover__msg
		background rojo
		box-shadow 0 0 2px rgba(black, .5)
		color white
		font-weight 700
		padding .7em
		position absolute
		right -.4em
		top -.4em

.cover--hidden
	display none


ul
	padding 0

ul.tabs
	margin-bottom 2em
	
	li
		display inline-block
		
		a
			background white
			border-bottom 5px plomoTexto solid
			color plomoTexto
			display block
			padding .5em 1em
			position relative
			text-align center

			&:before
				content ""
				border-bottom 13px solid transparent
				border-top 13px solid transparent
				border-left 13px solid transparent
				border-right 13px solid transparent
				left 50%
				margin-left -13px
				position absolute
				transition all .3s
				top 100%

		a:hover
			color azul
			border-bottom 5px azul solid
				
		a.active
			color azul
			border-bottom 5px azul solid

			&:before
				border-top 13px solid azul

.tabs_data
	
	.tab_data
		display none

	.tab_data.active
		animation r_s_fadeUp .3s ease
		display block

.aux.mobile
	
	.info
		background rgba(black, .7)
		padding .2em
		text-align center
		
		p
			color white
			display inline-block
			margin 0
			padding .3em
			margin-left .3em

			.abbr
				border-bottom 4px white solid
				width 25px
				padding 0 .2em
				margin-right .2em
				display inline-block
				
			.full
				display none

		p.tablet
				display none
				

		p.active

			span
				color verde
			
			.full
				color verde

			.abbr
				border-bottom 2px verde solid
