.no-data
	color plomoTexto
	text-align center
	margin 6em

	span
		color rojoTexto
		
.empty
	color plomoTexto
	text-align center
	margin-left auto
	margin-right auto

.empty--danger, .danger-icon
	span
		color rojoTexto

.info
	color plomoTexto
	margin-bottom 0

.info--main
	padding .7em 0
	margin-bottom 1em

.danger
	color negroTexto
	margin 0
	
	span
		color rojoTexto

.empty--interaction
	display none
	
.empty--interaction.fadeUp
	animation .3s fadeUp ease
	display block

.empty--interaction.fadeOut
	animation .3s fadeOut ease

.w-strong
	color plomoTexto
	
	strong
		color negroTexto

.w-strong--danger
	strong
		color rojoTexto


.group-paragraph
	display table
	margin-left auto
	margin-right auto
	margin-top 1em
	margin-bottom 1em
	width 95%

.group-paragraph__header
	border-right 4px plomoOscuro solid
	border-bottom 1px plomoOscuro solid
	display table-cell
	font-weight 700
	padding .5em
	text-align center
	vertical-align middle
	width 30%

.group-paragraph__body
	background-color plomo
	border-bottom 1px plomoOscuro solid
	display table-cell
	text-align left
	vertical-align middle

	p
		padding .6em 1em
		margin-bottom 0
	
