amarillo      = #F0AD4E
amarilloHover = #EC971F
amarilloPhore = #FFC200
amarilloTexto = #C67215
azul          = #015292
azulBack      = #DFF0D8
azulUndac     = #063F9D
azulHover     = #1667A7
azulOscuro    = #024A82
azulPhore     = #0141DE
celeste       = #5BC0DE
celesteHover  = #31B0D5
moradoPhore   = #4607E1
negro         = #353535
negroOscuro   = #202020
negroTexto    = #18181B
negroPlomo    = #363C46
plomo         = #F8F8F8
plomoOscuro   = #DDDDDD
plomoTexto    = #999999
plomoHr 	  = #EEEEEE
verde         = #5CB85C
verdeClaro    = #DFF0D8
verdeHover    = #449D44
verdePhore    = #016800
verdeTexto    = #3C763D
rojo          = #D9534F
rojoHover     = #C9302C
rojoPhore     = #CD0000
rojoTexto     = #9D2222
